<footer>
    <nav>
        <a>Copyright &copy; Poster Trade</a>
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
        <div class="footer_icons">
            <a href="/">
                <img src="/IMAGES/twitter_logo.png" alt="Twitter logo" class="twitter_img">
            </a>
            <a href="/">
                <img src="/IMAGES/fb_logo.png" alt="Facebook logo" class="footer_logo">
            </a>
        </div>
    </nav>
</footer>
</body>
</html>