<%- include('./partials/header.ejs') %>
    <div class="body_content">
        <h2>About Us</h2>
        <h3>Welcome to Poster Trade!</h3>
        <p> It is one of the best and easiest place to trade, find and get your favourite posters.<br>
            We have a variety of categories covered and the user can add his own topic (Category) to trade their
            poster.<br>
            It is a one stop location to trade, buy or sell the poster that you love. <br>And we are the passionate team
            that shall help you bridge the gap to trade.
        </p>
    </div>
    <%- include('./partials/footer.ejs') %>