<%- include('./partials/header.ejs') %>
    <div class="body_content">
        <h2>Contact us at</h2>
        <h3>Cone 101, University of North Carolina Charlotte, 28262 (Mon - Fri 9:00 AM to 5:00 PM)</h3>
        <h4>Phone: (984)-895-7893; Email: agadehot@uncc.edu</h4>
    </div>
    <%- include('./partials/footer.ejs') %>