<%- include('./partials/header.ejs') %>
    <div class="body_content">
        <h3>
            <%= error.status %>: &nbsp;<%= error.message %>
        </h3>
    </div>
    <%- include('./partials/footer.ejs') %>