<%- include('./partials/header.ejs')%>
    <div class="body_content">
        <h3>Welcome to the Poster Trade!</h3>
        <h4>Just the right place where you can trade or find or giveaway posters.</h4>
        <h4>Posters that you'll love, just a click away! You can find the ones to trade in our trades tab. </h4>
    </div>
    <%- include('./partials/footer.ejs')%>